{% extends "base.html" %}
{% load static %}


{% block main %}
<main>
    <div class="main-contact w-full flex items-center justify-center flex-col p-4">
        <div class="text-center">
            <h1 class="text-white text-5xl font-black">Know Us</h1>
            <p class="text-white font-semibold mt-8 uppercase">E-commerce transforms shopping with <br> online platforms, global reach, and convenience.</p>
        </div>
    </div>
</main>
{% endblock %}


{% block sections %}
<section class="about-section">
    <div class="grid grid-cols-12 py-12 main-padding gap-8 items-center">
        <div class="col-span-12 lg:col-span-7 xl:col-span-6">
            <img src="{% static 'Images/about-image.jpg' %}" alt="about_image">
        </div>
        <div class="col-span-12 lg:col-span-5 xl:col-span-6">
            <h1 class="text-5xl font-bold text-black text-center lg:text-start">Who We Are?</h1>
            <p class="my-8 ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non officia veritatis dolore iure fugiat voluptatibus soluta, consectetur ducimus earum nemo possimus saepe harum odio? Quas, recusandae debitis distinctio iusto aut qui veniam enim aliquam magni reprehenderit alias? Corrupti reprehenderit in veniam nihil repellendus doloremque sunt dicta saepe illo porro, illum sint reiciendis facilis voluptatum deleniti ratione similique! Ratione rem pariatur mollitia suscipit quo error obcaecati ab quibusdam, ullam, velit, corrupti minima vitae fugit sint autem? Ex maiores esse doloribus harum.</p>
            <marquee bgcolor="#EEE" loop="-1" scrollamount="5" width="100%">Create stunning images with as much or as little control as you like thanks to a choice of basic and creative modes.</marquee>
        </div>
    </div>
</section>
<section class="video-section">
    <div class="about-title text-center">
        <h1 class="text-black text-5xl font-bold">Download Our <a href="#" class="underline main-color">App</a></h1>
    </div>
    <div class="about-video py-12 main-padding">
        <div class="mx-auto w-full lg:w-5/6 xl:w-4/6">
            <div>
                <video src="{% static 'Images/about-vid.mp4' %}" autoplay muted loop class="rounded-2xl"></video>
            </div>
        </div>
    </div>
</section>
<section class="features-section">
    <div class="grid grid-cols-12 gap-5 pt-4 pb-8 main-padding">
        <div class="features-card col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-2 flex flex-col items-center border border-neutral-300 shadow p-3 rounded">
            <div>
                <img src="{% static 'Images/f1.png' %}" alt="feature-one">
            </div>
            <div class="bg-sky-100 py-1 px-3 mt-5 rounded-md">
                <h3 class="text-md font-semibold">Free Shiping</h3>
            </div>
        </div>
        <div class="features-card col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-2 flex flex-col items-center border border-neutral-300 shadow p-3 rounded">
            <div>
                <img src="{% static 'Images/f2.png' %}" alt="feature-two">
            </div>
            <div class="bg-pink-100 py-1 px-3 mt-5 rounded-md">
                <h3 class="text-md font-semibold">Online Order</h3>
            </div>
        </div>
        <div class="features-card col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-2 flex flex-col items-center border border-neutral-300 shadow p-3 rounded">
            <div>
                <img src="{% static 'Images/f3.png' %}" alt="feature-three">
            </div>
            <div class="bg-green-100 py-1 px-3 mt-5 rounded-md">
                <h3 class="text-md font-semibold">Save Money</h3>
            </div>
        </div>
        <div class="features-card col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-2 flex flex-col items-center border border-neutral-300 shadow p-3 rounded">
            <div>
                <img src="{% static 'Images/f4.png' %}" alt="feature-four">
            </div>
            <div class="bg-blue-100 py-1 px-3 mt-5 rounded-md">
                <h3 class="text-md font-semibold">Promotions</h3>
            </div>
        </div>
        <div class="features-card col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-2 flex flex-col items-center border border-neutral-300 shadow p-3 rounded">
            <div>
                <img src="{% static 'Images/f5.png' %}" alt="feature-five">
            </div>
            <div class="bg-violet-100 py-1 px-3 mt-5 rounded-md">
                <h3 class="text-md font-semibold">Happy Sell</h3>
            </div>
        </div>
        <div class="features-card col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-2 flex flex-col items-center border border-neutral-300 shadow p-3 rounded">
            <div>
                <img src="{% static 'Images/f6.png' %}" alt="feature-six">
            </div>
            <div class="bg-orange-100 py-1 px-3 mt-5 rounded-md">
                <h3 class="text-md font-semibold">24/7 Support</h3>
            </div>
        </div>
    </div>
</section>

{% endblock %}